<%= form_with(model: config, local: true) do |form| %>
  <% if config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(config.errors.count, "error") %> prohibited this config from being saved:</h2>

      <ul>
      <% config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :server_url %>
    <%= form.text_field :server_url, id: :config_server_url %>
  </div>

  <div class="field">
    <%= form.label :server_port %>
    <%= form.number_field :server_port, id: :config_server_port %>
  </div>

  <div class="field">
    <%= form.label :game_type %>
    <%= form.number_field :game_type, id: :config_game_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
