<p id="notice"><%= notice %></p>

<p>
  <strong>Server url:</strong>
  <%= @config.server_url %>
</p>

<p>
  <strong>Server port:</strong>
  <%= @config.server_port %>
</p>

<p>
  <strong>Game type:</strong>
  <%= @config.game_type %>
</p>

<%= link_to 'Edit', edit_config_path(@config) %> |
<%= link_to 'Back', configs_path %>
