<%= form_with(model: datacenter, local: true) do |form| %>
  <% if datacenter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(datacenter.errors.count, "error") %> prohibited this datacenter from being saved:</h2>

      <ul>
      <% datacenter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :datacenter_name %>
  </div>

  <div class="field">
    <%= form.label :region_id %>
    <%= form.collection_select :region_id, @regions, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
